html {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

#titleview {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    padding: 8px;
}

#pageview {
    padding: 8px;
}

#titleview h1 {
    margin: 0;
    font-size: 24px;
}

#titleview a {
    margin-right: 1em;
}

/* Table */

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 5px 10px;
}

td {
    text-align: center;
}

table a {
    display: block;
    text-decoration: none;
    margin: -5px -10px;
    padding: 5px 10px;
    color: inherit;
}

/* Success colors */
.success-1 {
    background-color: #69a94d;
    color: white;
}

.success-2 {
    background-color: #b7d879;
    color: black;
}

.success-3 {
    background-color: #dd9250;
    color: black;
}

.success-4 {
    background-color: #b63546;
    color: white;
}

.success-5 {
    background-color: #410b13;
    color: white;
}
