{% extends "base.html" %}

{% block content %}
<div id="titleview">
    <a href="/">←</a>
    <h1>{{ metric_name }}</h1>
</div>

<div id="pageview">
    <table>
        <thead>
            <tr>
                <th>Viikko</th>
                <th>Su</th>
                <th>Ma</th>
                <th>Ti</th>
                <th>Ke</th>
                <th>To</th>
                <th>Pe</th>
                <th>La</th>
            </tr>
        </thead>
        <tbody>
            {% for week in weeks %}
                <tr>
                    <th>{{ week.week.year }}-{{ week.week.weeknumber }}</th>
                    {% for day in week.days %}
                        {% if day %}
                        <td class="success-{{ day.log_event.success }}">{{ day.log_event.time }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                    {% endfor %}                
                </tr>
            {% endfor %}                
        </tbody>
    </table>
</div>

{% endblock %}

