{% extends "base.html" %}

{% block content %}
<div id="titleview">
    <h1>
        {# TODO: breaks when the year changes #}
        <a href="/?year={{ week.year }}&weeknumber={{ week.weeknumber - 1 }}">←</a>
        {{ week.year }}-{{ week.weeknumber }}
        <a href="/?year={{ week.year }}&weeknumber={{ week.weeknumber + 1 }}">→</a>
    </h1>
</div>

<div id="pageview">
    <table>
        <thead>
            <tr>
                <th>Tapahtuma</th>
                <th>Su</th>
                <th>Ma</th>
                <th>Ti</th>
                <th>Ke</th>
                <th>To</th>
                <th>Pe</th>
                <th>La</th>
            </tr>
        </thead>
        <tbody>
            {% for metric in metrics %}
                <tr>
                    <th><a href="/metric/{{ metric.metric.id }}">{{ metric.metric.name }}</a></th>
                    {% for day in metric.days %}
                        {% if day.log_event %}
                        <td class="success-{{ day.log_event.success }}">
                            <a href="/edit?metric_id={{ metric.metric.id }}&year={{ week.year }}&weeknumber={{ week.weeknumber }}&weekday={{ day.weekday }}">
                                {{ day.log_event.time }}
                            </a>
                        </td>
                        {% else %}
                        <td>
                            <a href="/edit?metric_id={{ metric.metric.id }}&year={{ week.year }}&weeknumber={{ week.weeknumber }}&weekday={{ day.weekday }}">
                                -
                            </a>
                        </td>
                        {% endif %}
                    {% endfor %}                
                </tr>
            {% endfor %}                
        </tbody>
    </table>
</div>

{% endblock %}

